name: rebuild node
on: 
  push:
    branches:
      - deploy

jobs:

  build:
    name: Build
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [18.16]


    steps:
      # - uses: actions/cache@v1.2.1
      # name: 'Cache'
      # with:
      #   path: '_cache'
      #   key: 'npm'      
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm install -g yarn
      - run: cd frontend && npm i 
      - run: cd frontend && NODE_ENV=production yarn build